<section class="offerte">
  <div
    class="flex-grow-1 d-flex flex-column justify-content-center align-items-start"
  >
    <div class="fst-italic">
      <small><b>3/3</b> posti disponibili per</small>
    </div>
    <div class="offers">
      Shooting & <br />
      Video <span class="gratis bg-dim-grey">gratuito*</span>
    </div>
    <a
      [routerLink]="['/contatti']"
      class="btn bg-blu text-white rounded-pill mt-3"
      >Prenota ora</a
    >
  </div>
  <div class="fst-italic" style="font-size: 70%">
    * Shooting fotografico e video presentazione di una macchina a scelta
    (interno ed esterno) di massimo 60 secondi
  </div>
</section>
