<section class="landingpage">
  <div
    class="flex-grow-1 d-flex flex-column justify-content-center align-items-start"
  >
    <div class="offers">
      Car media
      <div class="work">photography & <span>videomaking</span></div>
    </div>
    <a
      [routerLink]="['/offerte']"
      class="btn bg-blu text-white rounded-pill mt-3"
    >
      Prova gratuita
    </a>
  </div>
  <div class="">
    <small>scopri di più</small>
  </div>
  <i class="bi bi-arrow-down-circle-fill dim-grey" id="pulse"></i>
</section>
<div class="p-4">
  <h4 class="title text-center mb-3">Perchè farlo?</h4>
  <div class="citazione">
    <small>"Un'immagine parla più di mille parole"</small>
  </div>
  <div style="text-align: justify" class="">
    Negli ultimi due decenni, il comportamento degli acquirenti di auto è
    cambiato radicalmente. L'ascesa di Internet ha trasformato l'esperienza di
    acquisto in qualcosa che avviene sempre più tramite laptop, telefoni e
    tablet piuttosto che in uno showroom.
    <br /><br />
    In questo nuovo panorama automobilistico, stabilire una presenza sul Web
    convincente è fondamentale ed
    <b>immagini e video di auto di alta qualità</b> sono
    <span class="text-blu"
      ><b>essenziali per coinvolgere i potenziali clienti.</b></span
    >
    <br /><br />
    Immagini accattivanti non solo consentono ai rivenditori di mostrare le loro
    offerte, ma presentano anche
    <b>un'immagine professionale della concessionaria</b>. In un momento in cui
    il sito web può essere il primo punto di contatto tra un cliente e un
    rivenditore, questo è particolarmente importante. <br /><br />
    Il contenuto di un sito web o l'account social rappresenta la concessionaria
    nel suo insieme e deve fungere da estensione dello showroom della vita
    reale, della presentazione di vendita di persona e del collegamento
    personale con un venditore.
  </div>
  <button class="btn bg-blu text-white rounded-pill mt-3">Contatti</button>
</div>
