<section class="servizi">
  <h4 class="title text-center mb-4">Servizi offerti</h4>
  <div class="subtitle">
    Collaborando con un'agenzia specializzata nella creazione di contenuti
    automobilistici, i concessionari possono accumulare un
    <span class="text-blu fw-bold">corredo di immagini e video</span> completo
    per soddisfare il mercato in continua evoluzione di oggi ed
    <span class="fw-bold text-uppercase">aumentare</span> la
    <span class="fw-bold">percentuale di vendita</span>.
  </div>
  <div class="icons-row">
    <div class="icon-item shadow">
      <i class="bi bi-camera-fill" style="font-size: 2.5rem"></i>
      <div>shooting fotografico</div>
    </div>
    <div class="icon-item shadow">
      <i class="bi bi-camera-video-fill" style="font-size: 2.5rem"></i>
      <div>riprese video</div>
    </div>
    <div class="icon-item shadow">
      <img src="/assets/drone.jpeg" class="drone-img" alt="" />
      <div>riprese drone FPV</div>
    </div>
  </div>
</section>
