<section class="servizi">
  <h4 class="title text-center mb-4">
    Mettiamoci in <span class="contatto bg-dim-grey">CONTATTO</span>
  </h4>
  <div class="subtitle text-center mb-4">
    Per maggiori informazioni riguardanti l'offerta in corso o per qualsiasi
    dubbio non esitare a contattarmi.
  </div>
  <div class="d-flex flex-column">
    <div class="d-flex flex-column align-items-center my-2">
      <img src="/assets/call_black_24dp.svg" alt="" class="w-50" />
      <div class="">+39 3270744024</div>
    </div>
    <div class="d-flex flex-column align-items-center my-2">
      <img src="/assets/mail_black_24dp.svg" alt="" class="w-50" />
      <div class="">a.cotin96@gmail.com</div>
    </div>
  </div>
</section>
